<div style="display: flex;">
    <button
    mat-button
    color="primary"
    (click)="profileView()"
>
    Profile
</button>
<button
mat-button
color="primary"
(click)="signoutUser()"
>
Sign Out
</button>
    <mat-card *ngFor="let game of games;" style="flex: 1 1 auto;">
        <mat-card-header>
        <mat-card-title>{{game.title}}</mat-card-title>
            <mat-card-subtitle>Developed by: {{game.developer.name}}</mat-card-subtitle>
        </mat-card-header>
        <img src={{game.image}} alt= {{game.title}} />
        <mat-card-actions>
            <button
                mat-button
                color="primary"
                (click)="openGenreDialog(game.title)"
            >
                Genre
            </button>
            <button
                mat-button
                color="primary"
                (click)="openDeveloperDialog(game.developer.name)"
            >
                Developer
            </button>
            <button
                mat-button
                color="primary"
                (click)="openDescriptionDialog(game.title)"
            >
                Description
            </button>
            <mat-icon *ngIf = "isFavorite(game)" (click)="deleteFavorite(game._id)">favorite</mat-icon>
            <mat-icon *ngIf = "!isFavorite(game)" (click)="addFavorite(game._id)">favorite_border</mat-icon>
        </mat-card-actions>
    </mat-card>
</div>